{% extends 'pages/plataforma.html' %}

{% block contenidomain %}
<div class="container-fluid px-4 py-4">
  <div class="card">
      <div class="card-body">
          <h1 class="card-title">Confirmar eliminación de la página</h1>
          <p class="card-text">¿Estás seguro de que deseas eliminar la página "{{ object }}"?</p>
      
          <form method="post" action="{% url 'pages:deletepost' pk=object.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Sí, eliminar</button>
          </form>
          <br>
          <a href="{% url 'pages:plataforma' %}" class="btn btn-secondary">Cancelar</a>
      </div>
  </div>
</div>
{% endblock contenidomain %}
