{% extends 'pages/base.html' %}
{% load static %}

{% block header %}
        {% include 'pages/header.html' with image='pages/assets/img/home-bg.jpg' title="Blog-AMS" subtitle="Un blog elegante como Proyecto Final" %}
{% endblock header %}

{% block contenidomain %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if listapages %}
                    {% for page in listapages %}
                        {% include 'pages/post_preview.html' with titulo=page.titulo subtitulo=page.subtitulo fecha=page.fecha %}
                        <!-- Divider-->
                        <hr class="my-4" />
                    {% endfor %}
                {% else %}
                    <h2>No se encontraros Post realizados :/</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contenidomain %}